
/*==========================================*/ 

/*The Team*/
html {
	box-sizing: border-box;
  }
  
  *, *:before, *:after {
	box-sizing: inherit;
  }
  
  .column {
	float: left;
	width: 25%;
	margin-bottom: 16px;
	padding: 0 8px;
  }
  
  @media screen and (max-width: 960px) {
	.column {
	  width: 100%;

	}
  }
  
  .card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .theTeam {
	padding: 0 16px;
  }
  
  .theTeam::after, .row::after {
	content: "";
	clear: both;
	display: table;
  }
  
  .title {
	color: grey;
  }
  
  .button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
  }
  
  .button:hover {
	background-color: #555;
  }

  #team-img {
	
	width: 100%;
	max-width: 370px;
	height: auto;
	max-height: 370px;
  	
  }

/*==========================================*/ 

/*The Adventure*/

  #adventure-img {
	float: left;
	border: 2px;
	border-radius: 15%;
	padding: 5px;
	width: 100%;
	max-width: 250px;
	height: auto;
	max-height: 188px;
	
  }

  /*==========================================*/ 

/*About Us*/

#aboutus-img {
	float: left;
	border: 2px ;
	border-radius: 15%;
	padding: 5px;
	width: 100%;
	max-width: 200px;
	height: auto;
	max-height: 200px;
	
  }

  /*==========================================*/ 

  /*COntact Us*/

#contactus-img {
	border: 2px solid #021a40;
	border-radius: 10%;
	padding: 2px;
	width: 100%;
	max-width: 350px;
	height: auto;
	max-height: 220px;
	
  }

  /*==========================================*/ 

/*Sign Up*/

#signup-img {
	border:2px solid #021a40;
	float: center;
	border-radius: 15%;
	padding: 2px;
	width: 100%;
	max-width: 300px;
	height: auto;
	max-height: 300px;
	
  }

  /*==========================================*/ 

/*Login*/

#login-img {
	border:2px solid #021a40;
	float: center;
	border-radius: 20%;
	padding: 2px;
	width: 100%;
	max-width: 300px;
	height: auto;
	max-height: 300px;
	
  }

  